[submodule "vendor/bifrost"]
	path = vendor/bifrost
	url = https://github.com/lrvdijk/bifrost
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "vendor/pybind11"]
	path = vendor/pybind11
	url = https://github.com/pybind/pybind11
[submodule "vendor/robin-hood-hashing"]
	path = vendor/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
[submodule "vendor/cereal"]
	path = vendor/cereal
	url = https://github.com/USCiLab/cereal
