cmake-build-*
.DS_Store
.idea
.o
*.egg-info/
*.dylib
build
*.so
.pytest_cache
dist
__pycache__

test.links
test.log
test_log
var/
.eggs/
.ipynb_checkpoints
docs/_data/refseq/
docs/_data/human_readable/
docs/_data/ref_list.txt
docs/_data/*.gfa
docs/_data/*.bfg_colors
docs/_build/
docs/_data/*.links
docs/_data/mapping_results.tsv
compile_commands.json
.cache/
