include versioneer.py
global-include CMakeLists.txt *.cmake
recursive-include src *.py *.h *.cpp *.txt
recursive-include tests *.py *.cpp *.h *.txt *.fasta
recursive-include vendor *.txt *.h *.hh *.c *.cpp *.tcc *.hpp *.in *.rst *.sh
