include versioneer.py
recursive-include src *.py *.h *.cpp *.txt
recursive-include tests *.py *.cpp *.h *.txt *.fasta
recursive-include vendor *.txt *.h *.hh *.c *.cpp *.tcc *.hpp *.cmake *.in *.rst *.sh
